@model Tienda_Vidreos.Entities.UsuarioEnt

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}

@using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Post))

{
<div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3 text-center">
            <!-- Añadí la clase text-center -->
            <img src="~/images/Logo.png" width="200" height="100"> <!-- Ajusté el ancho y el alto del logo -->
            <h3 class="text-dark mt-3">Tienda Vidreos</h3>




        </div>

        @if (ViewBag.MsjPantalla != null)
        {
            <div style="text-align:center" class="alert alert-warning" role="alert">
                @ViewBag.MsjPantalla
            </div>
        }

        <div class="form-floating mb-3">
            @Html.TextBoxFor(m => m.CorreoElectronico, new { @type = "email", @class = "form-control", @placeholder = "correo@correo.com" })
            <label for="floatingInput">Correo Electrónico</label>
        </div>
        <div class="form-floating mb-4">
            @Html.TextBoxFor(m => m.Contrasenna, new { @type = "password", @class = "form-control", placeholder = "Contraseña" })
            <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="form-check">

            </div>
            <a href="@Url.Action("Recuperar", "Home")" style="color: black;">Recuperar Contraseña</a>

        </div>
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Iniciar Sesión</button>
        <p class="text-center mb-0">
            Si aún no tiene una cuenta,
            <a href="@Url.Action("Registro", "Home")" class="text-dark font-weight-bold">Regístrese</a>
        </p>


        <p class="text-center mb-0">
            Reportar Errores del Sitio,
            <a href="@Url.Action( "ReporteErrores", "Home")" class="text-dark font-weight-bold">ReporteErrores</a>
        </p>
    </div>
        </div>
    
}