@model Tienda_Vidreos.Entities.UsuarioEnt

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}

@using (Html.BeginForm("RegistrarUsuario", "Home", FormMethod.Post))
{
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">

                        <h3 class="text-primary"><i ><img src="~/images/Logo.png" width="100" height="100" /></i>Tienda Vitreos</h3>
                    </a>
                </div> 

                @if (ViewBag.MsjPantalla != null)
                {
                    <div style="text-align:center" class="alert alert-warning" role="alert">
                        @ViewBag.MsjPantalla
                    </div>
                }

                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.Identificacion, new { @type = "text", @class = "form-control", placeholder = "Identificación" })
                    <label for="floatingInput">Identificación</label>
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control", placeholder = "Nombre" })
                    <label for="floatingInput">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.CorreoElectronico, new { @type = "email", @class = "form-control", @placeholder = "correo@correo.com" })
                    <label for="floatingInput">Correo Electrónico</label>
                </div>
                <div class="form-floating mb-4">
                    @Html.TextBoxFor(m => m.Contrasenna, new { @type = "password", @class = "form-control", placeholder = "Contraseña" })
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Registrarse</button>
                <p class="text-center mb-0">Si ya tiene una cuenta <a href="@Url.Action("Login","Home")">Inicie Sesión</a></p>
            </div>
        </div>
    </div>
}