@model IEnumerable<LN_WEB.Entities.VidreoEnt>
@{
    ViewBag.Title = "Vidrio";
}

@ViewBag.MsjPantalla

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-header">
                <h1>Tipos de Vidrios</h1>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@item.Imagen" class="card-img-top" alt="@item.Nombre">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">@item.Descripcion</p>
                        <p class="price">$@item.Precio</p>
                        <button class="btn btn-primary add-to-cart-btn" onclick="addToCart('Vidrios 1', '@item.Precio')">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
